In [1]:
import os
import pandas as pd
os.chdir("D:\Work flow")
data = pd.read_excel("test2.xlsx")
data = data.sort_values(by=['Last Update'])
data["Last Update"] = data["Last Update"].map(lambda date: str(date)[0:11])
data = data.set_index(['Last Update'])
data = data.sum(level = "Last Update")
data

             Confirmed  Deaths  Recovered
Last Update
2020-01-31           8       0          0
2020-02-01          27       0          2
2020-02-02           9       1          0
2020-02-03          27       0          1
2020-02-04         109       0          7
2020-02-05       24450     493       1019