In [16]:
import pandas as pd

In [17]:
data = pd.read_csv("china-aggregated.csv",parse_dates = ["Date"])

In [18]:
data.set_index("Date")
data.to_csv("CH_DATED.csv")

In [19]:
data.head()

        Date Country  Confirmed  Recovered  Deaths
0        NaT     NaN        NaN        NaN     NaN
1        NaT     NaN        NaN        NaN     NaN
2 2020-01-22   China      548.0       28.0    17.0
3 2020-01-23   China      643.0       30.0    18.0
4 2020-01-24   China      920.0       36.0    26.0

In [25]:
x = pd.read_csv("countries-aggregated22032020.csv")

In [32]:
y = list(x.sum())
recov = (y[1]/y[0])*100
deth = (y[2]/y[0])*100
recov,deth,y

(29.082466401750235, 4.355345209923948, [335955.0, 97704.0, 14632.0])

In [24]:
x.head()

         Date      Country   Confirmed   Recovered      Deaths
0    discrete     discrete  continuous  continuous  continuous
1         NaN          NaN         NaN         NaN         NaN
2  2020-03-22  Afghanistan        40.0         1.0         1.0
3  2020-03-22      Albania        89.0         2.0         2.0
4  2020-03-22      Algeria       201.0        65.0        17.0